.outer-container {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  padding-bottom: 30px;
}

.left-side {
  display: flex;
  flex-direction: column;
  width: 59%
}

.right-side {
  display: flex;
  width: 40%;
  padding-left: 26px;
}